[flake8]
ignore = C101, E261, F401, I201
exclude =
    .git,
    __pycache__,
    venv,
    general.log,
    .env,
filename = *.py
accept-encodings = utf-8
inline-quotes = double
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double
per-file-ignores =
